# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/combatium-server/build.gradle.kts
/combatium-server/src/minecraft
/paper-server
/combatium-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
